# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# other stuff
/AIPHES_Data
/resources

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

/crawling/woxikon
/crawling/duden
/crawling/wortschatz
/scripts/duden
/scripts/wortschatz
/scripts/woxikon
/arff
training
semeval_training
germeval_training
twsi_training
dependency-reduced-pom.xml
semeval_training
